<!-- Project Section Start -->
<section class="project-section section-padding fix">
    <div class="container">
        <div class="row g-4">

            <!-- Dış Cephe Mantolama -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/dis_cephe_mantolama.png" alt="project-img">
                        <div class="project-content">
                            <p>Dış Cephe Mantolama</p>
                            <h4><a href="/Services/dis_cephe_mantolama">Dış Cephe Mantolama</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Çatı İzolasyonu -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/cati_izolasyon.png" alt="project-img">
                        <div class="project-content">
                            <p>Çatı Yalıtımı</p>
                            <h4><a href="/Services/cati_izolasyonu">Çatı İzolasyonu</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ses Yalıtımı -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/ses_yalitimi.png" alt="project-img">
                        <div class="project-content">
                            <p>Ses Yalıtımı</p>
                            <h4><a href="/Services/ses_yalitimi">Ofis ve Konut Akustik Çözümler</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Yangın Yalıtımı -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/yangin_yalitimi.png" alt="project-img">
                        <div class="project-content">
                            <p>Yangın Yalıtımı</p>
                            <h4><a href="/Services/yangin_yalitimi">Yangına Dayanıklı İzolasyon</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Enerji Tasarruflu Yalıtım -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/isi_yalitim.png" alt="project-img">
                        <div class="project-content">
                            <p>Isı Yalıtımı</p>
                            <h4><a href="/Services/isi_yalitimi">Enerji Tasarruflu Yalıtım</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Temel & Zemin İzolasyonu -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/temel_ve_zemin_izolasyon.png" alt="project-img">
                        <div class="project-content">
                            <p>Temel & Zemin</p>
                            <h4><a href="/Services/temel_ve_zemin_izolasyonu">Temel ve Zemin İzolasyonu</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Endüstriyel İzolasyon -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/endustriyel_yalitim.png" alt="project-img">
                        <div class="project-content">
                            <p>Endüstriyel Çözümler</p>
                            <h4><a href="/Services/endustriyel_izolasyon">Endüstriyel İzolasyon</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Su Yalıtımı -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/su_yalitim.png" alt="project-img">
                        <div class="project-content">
                            <p>Su Yalıtımı</p>
                            <h4><a href="/Services/su_yalitimi">Teras & Islak Hacim Su Yalıtımı</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bohçalama izolasyon  -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/bohcalamaizolasyon.png" alt="project-img">
                        <div class="project-content">
                            <p>Bohçalama İzolasyon</p>
                            <h4><a href="/Services/bohcalamaizolasyon">Temel su yalıtımı</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--şıngıl çatı -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/singilcati.png" alt="project-img">
                        <div class="project-content">
                            <p>Şıngıl Çatı</p>
                            <h4><a href="/Services/singilcati">Estetik çatı kaplama</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--kiremit çatı -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/kiremitcati.png" alt="project-img">
                        <div class="project-content">
                            <p>Kiremit Çatı</p>
                            <h4><a href="/Services/kiremitcati">Geleneksel çatı koruma</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--teras izolasyon -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/terasizolasyon.png" alt="project-img">
                        <div class="project-content">
                            <p>Teras İzolasyon</p>
                            <h4><a href="/Services/terasizolasyon">Su sızdırmaz teras</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--membran çatı-->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/membrancati.png" alt="project-img">
                        <div class="project-content">
                            <p>Membran Çatı</p>
                            <h4><a href="/Services/membrancati">Dayanıklı çatı yalıtımı</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--poliüretan sürme izolasyon -->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/poliuretansurmeizolasyon.png" alt="project-img">
                        <div class="project-content">
                            <p>Poliüretan Sürme İzolasyon</p>
                            <h4><a href="/Services/poliuretansurmeizolasyon">Sıvı uygulama yalıtım</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <!--sürme izolasyon-->
            <div class="col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay=".3s">
                <div class="project-items">
                    <div class="project-image">
                        <img src="~/assets/img/gallery/surmeizolasyon.png" alt="project-img">
                        <div class="project-content">
                            <p>Sürme İzolasyon</p>
                            <h4><a href="/Services/surmeizolasyon">Pratik su yalıtımı</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
